@font-face {
   font-family: '苹方黑体-准-简';
   font-display: swap;
   src: url('file:///C:/Users/yuanfh/AppData/Local/Mobirise.com/Mobirise/projects/project-2020-03-08_202047/fonts/%E8%8B%B9%E6%96%B9%E9%BB%91%E4%BD%93-%E5%87%86-%E7%AE%80/font.ttf');
}
